#categories, #tasks, #viewer {
    position: relative;
    float: left;
    border: solid 1px;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
}

#categories, #tasks {
    width: 20%;
    background-color: #7485ff;
    color: aliceblue;
    height: 420px;

}

#categories h1, #tasks h1 {
    border: solid 1px;
    border-radius: 10px;
    background-color: #96baff;
}

#viewer h1 {
    border: solid 1px;
    border-radius: 10px;
    background-color: #7485ff;
}

#viewer {
    width: 50%;
    background-color: #96baff;
    color: aliceblue;
}

a {
    text-decoration: none;
    background-color: aliceblue;
    width: 200px;
}

#categories a {
    text-decoration: none;
    background-color: #96baff;
    display: block;
    width: 100%;
}

#categories a:hover {
    background-color: #7485ff;
    color: #c1d3ff;
}

a:hover {
    background-color: #7485ff;
    color: #c1d3ff;
}

p {
    color: black;
    float: left;
}

#categories {
    text-align: center;
}

td {
    text-align: center;
}

#viewer td {
    color: #000;
    background-color: aliceblue;
}

input, button, select{
    background: aliceblue;
    border: 0 none;
    padding: 10px;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
    text-align: center;
}
